/* Dancing Scripts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Neonderthaw&display=swap');
/* Fredoka */
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

:root {
    --gray: #999999;
    --lightgray: #B2B2B2;
    --darkgray: #676767;
}

body{
    background-color: var(--lightgray);
}
/* Header and Nav */
.main-header{
    color: white;
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 40px;
<<<<<<< Updated upstream
    padding: 0px;
    margin: 0px;
=======
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
>>>>>>> Stashed changes
    background-color: var(--darkgray);
}
.second-nav{
    overflow: hidden;
    background-color: var(--darkgray);
<<<<<<< Updated upstream
=======
    margin-bottom: 2em;
>>>>>>> Stashed changes
}
.second-nav li{
    display: inline;
    height: 2em;
    font-size: 25px;
    font-family: 'Fredoka', sans-serif;
}
.second-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .second-nav a {
      float: left;
    text-decoration: none;
    color: white;
    margin-right: 1em;
    text-transform: capitalize;
    text-align: center;
}
.second-nav ul :hover{
color: black;
}
.main-footer{

    font-family:'Fredoka', sans-serif;
    color: white;
    font-size: 30px;
    background-color: var(--darkgray);
<<<<<<< Updated upstream
}
.main-article{
    font-family: 'Fredoka', sans-serif;
    font-size: 20px;
}
.main-article img{
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
.main-article h1{
    font-size: 30px;
=======
>>>>>>> Stashed changes
}